body {
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
}

.formularios {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
}

.form-vertical {
  flex-direction: column;
}

.form label {
  display: flex;
  justify-content: space-between;
}
