body {
  font-family: Arial, Helvetica, sans-serif;
  margin-inline: 2.5%;
}

article {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5%;
}

@media (min-width: 768px) {
  .cadastro {
    flex-direction: row;
  }
}

.form,
.form > .campos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5em;
}

.form-btn-column {
  display: flex;
  flex-direction: row;
}

.form > .botoes {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form label {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  white-space: nowrap;
}

.secao-pessoas,
.secao-produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}

.tabelas {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.tabelas table {
  border-collapse: collapse;
}

.tabelas caption {
  white-space: nowrap;
  font-weight: bold;
}

.tabelas td:nth-child(1),
.tabelas td:nth-child(2) {
  min-width: 3em;
  border: 1px solid;
  padding-block: 0.2em;
  padding-inline: 0.5em;
  text-align: center;
}

.secao-valor {
  display: flex;
  justify-content: flex-end;
  margin-inline: 2.5%;
}

#valorCadaUm {
  margin-inline-start: 0.5em;
  font-size: xx-large;
}

h1 {
  margin: 0;
}

#pessoas {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pessoas > li {
  display: flex;
  gap: 2.5%;
  align-items: flex-end;
}

.btn-remover {
  background-color: transparent;
  border: unset;
  cursor: pointer;
  padding: 0;
}

footer {
  margin-inline: 2.5%;
}
