body {
  font-family: Arial, Helvetica, sans-serif;
}

article {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2.5%;
}

.form,
.form > .campos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form-btn-column {
  display: flex;
  flex-direction: row;
}

.form > .botoes {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form label {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  white-space: nowrap;
}

.secao-produtos {
  display: flex;
  flex-direction: column;
}

.tabelas {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.secao-valor {
  display: flex;
  justify-content: flex-end;
}

.lista-pessoas > h1 {
  margin-bottom: 0;
}

#pessoas {
  list-style-type: none;
  padding: 0;
}

#pessoas > li {
  display: flex;
  gap: 2.5%;
  align-items: flex-end;
}

#pessoas > li > button {
  background-color: transparent;
  border: unset;
  cursor: pointer;
  padding: 0;
}
